body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.drawCell {
    border: 1px solid #000;
}